:root {
    --button-font-size: 20px;
    --button-width: calc(var(--button-font-size) * 1.2)px;
    --button-height: calc(var(--button-font-size) * 1.2)px;
}

.calc_button {
    height: 30px;
    width: 30px;
    background-color: #f1faee;
    border-radius: 2px;
    border: 2px solid #457b9d;
    font-size: var(--button-font-size);
    color: #1d3557;